<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="main.css">
</head>

<body>
    <div id="app">

        <div class="creator">
            <div class="hide" title="Свернуть/Развернуть" @click="show = !show">-</div>
            <div class="move" @mousedown="moveMe">
                <h2>Список заметок</h2>
            </div>
            <hr>
            <div v-if="show">
                <textarea class="creator__input" v-model="value" placeholder="Текст заметки" rows="2"></textarea><br>
                <div class="btns">
                    <button @click="addNote" class="create">Создать<br>заметку</button>
                    <button @click="clearList" class="clear__list">Очистить<br>список</button>
                </div>
                <hr>
                <ol class="note__list">
                    <li class="note" v-for="(item, i) in list">
                        <p :class="{checked:checkedNote[i]}" @click="toggleNote(i)">{{item}}</p>
                        <button @click="removeNote(i)" class="close">&times;</button>
                    </li>
                    <li class="note" v-if="list.length == 0">Список заметок пуст</li>
                </ol>
            </div>
        </div>

    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="index.js"></script>
</body>

</html>